<p>Elektroniczny dziennik ocen</p>
<p>Strona główna</p>

<button pButton type="button" label="Idź do strony logowania" [routerLink]="['/user-login']" class="mt-4"></button>
<br>
<button pButton type="button" label="Przeglądaj użytkowników" [routerLink]="['/manage-users']" class="mt-4"></button>
<br>
<button pButton type="button" label="Przeglądaj oceny" [routerLink]="['/student-grades']" class="mt-4"></button>
<br>
<button pButton type="button" label="Przeglądaj przedmioty" [routerLink]="['/manage-subjects']" class="mt-4"></button>
<br>