<p>Elektroniczny dziennik ocen</p>
<p>Strona główna</p>

<button pButton type="button" label="Logowanie" [routerLink]="['/user-login']" class="mt-4"></button>
<br>
<button pButton type="button" label="Rejestracja" [routerLink]="['/user-registration']" class="mt-4"></button>
<br>
<button pButton type="button" label="Użytkownicy" [routerLink]="['/manage-users']" class="mt-4"></button>
<br>
<button pButton type="button" label="Oceny" [routerLink]="['/manage-grades']" class="mt-4"></button>
<br>
<button pButton type="button" label="Przedmioty" [routerLink]="['/manage-subjects']" class="mt-4"></button>
<br>